

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;;
  font-size: 20px;
}

header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
padding: 5px 10%;
}

header .logo{
  cursor: pointer;
}

header .logo img{
  height: 70px;
  width: auto;
  transition: all 0.4s;
}

header .logo img:hover{
  transform: scale(1.2);

}


li{
  color: indianred;
  
}